<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${title}"></div>
        <div class="card-body">

            <h4 class="card-title">
                <a th:href="@{/form}" class="btn btn-primary">New course</a>
            </h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID of Course</th>
                    <th>Name of Course</th>
                    <th>Schedule</th>
                    <th>Total Students</th>
                    <th>Number of Students</th>
                    <th>Professor</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course: ${listOfCourses}">
                    <td><a class="btn btn-primary btn-xs" th:href="@{'/ver/'+ ${course.getId()}}"
                           th:text="'Details'"></a></td>
                    <td th:text="${course.nameOfCourse}"></td>
                    <td>
                        <dl th:each="schedule: ${course.getSchedules()}">
                            <dd th:text="${#strings.capitalize(schedule.getDayOfWeek().name().toLowerCase()) +' '+ schedule.getStartTime() +'-'+ schedule.getEndTime()}" ></dd>
                        </dl>
                    </td>
                    <td th:text="${course.getTotalNumberStudents()}"></td>
                    <td th:text="${course.getNumberStudents()}"></td>
                    <!--TODO: el tema de cursos sin profesor asignado considerar -->
                    <div th:if="${course.getProfessor() != null}">
                    <td th:text="${course.getProfessor().getFirstName() + ' '+ course.getProfessor().getLastName()}"></td>
                    </div>
                    <div th:if="${course.getProfessor() == null}">
                        <td th:text="'not assigned'"></td>
                    </div>
                    <td><a class="btn btn-primary btn-sm"
                           th:href="@{'form/'+ ${course.getId()}}" th:text="'Edit'"></a></td>
                    <td><a class="btn btn-danger btn-sm"
                           th:href="@{'delete/' + ${course.getId()}}" th:text="'Delete'"
                           onclick="return confirm('Are you sure you want to delete?');"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
